* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(108 30 104);
}

/* Grid Container */
.grid-container {
    display: grid;

    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";

    gap: 10px;

    justify-content: stretch;
    align-content: stretch;

    height: 100vh;
}

/* Header */
.header {
    grid-area: header;
    background-color: #6979ab;
    padding: 20px;
    text-align: center;
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: #a99e5b;
    padding: 20px;
}

/* Main Content */
.main {
    grid-area: main;
    background-color: #598651;
    padding: 20px;
}

/* Footer */
.footer {
    grid-area: footer;
    background-color: #e08295;
    padding: 20px;
    text-align: center;
}

/* Navigation */
.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: underline;
    color: #b42525;
}
